body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #e7aa70; 
    font-family: Arial, sans-serif;
}

.list {
    position: absolute;
    top: 60px;
    left: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    font-size: 25px;
    color: black;
}
.list li:hover{
    color: rgb(103, 103, 247);
}

.square {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center; 
    border: 5px solid #000; 
    background-color: #e7aa70; 
    padding: 20px; 
    box-sizing: border-box;
}

.square img {
    max-width: 450px;
    max-height: 100%;
    object-fit: cover; 
    margin-right: 20px;
    padding-right: 10px;
    border-radius: 8px;
}

.text-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
    width: 100%; 
}

.text-container h1 {
    font-size: 50px; 
    margin: 0;
    margin-left: 5%;
}

.text-container pre {
    font-size: 18px;
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 10px;
    text-align: justify;
}

.social-links {
    display: flex;
    margin-top: auto;
}

.social-links a {
    font-size: 40px;
    color: rgb(255, 254, 254);
    margin-right: 20px;
    text-decoration: none;
}
.fb:hover{
    color:blue
}

.insta:hover{
    color: rgb(255, 136, 0);
}

.tiktok:hover{
    color: black;
}
